@model fbla_app.data.ServiceAward

<div class="container-fluid" style="padding: 15px">
    <div>
        <h4>ServiceAward</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Service Award Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServiceAwardName)
            </dd>

            <dt>
                Service Threshold
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServiceThreshhold)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
